body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 background-color: rgba(255, 245, 245, 0.897);

}
.flex{
    display: flex;
}
/*
*{   border: solid 1px red;}*/


.encabezadoPagina{
    color: rgb(0, 0, 0);
}

#formulario{
    background-color: #FFE3B3;
    margin: auto;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;

   width: 600px;
    height: auto;
}

.encabezadoForm{
    background-color:#63CAA7;
    width: 100%;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    
}

.buscarForm{
    display: flex;
    width: 95%;
    height: 25px;
    padding: 20px;

}
 
    .inputBuscar{
        margin-left: 2em;
        margin-right: 2em;
        height: 22px;
        width: 160px;
        border: 2px solid ;
        background: transparent;
      

    }

 

        
    
    .labelBuscarId{
        position:absolute;
        margin-left: 80px;

        background-color: whitesmoke;
        z-index: 1;
        color: rgb(124, 124, 124);
        
    }

.resultadoForm{
    
    width: 100%;
    height: auto;

    padding: 5px;

}

    .lblResultados {
        width: 200px;
    }

    .lblDomicilio{
        width: 85px;
    }

    .inputDomicilio{
        height: 20px;
        width: 270px;
        margin-bottom: 19px;
    }

    .inputResultados{
        height: 20px;
        width: 356px;
    }

    .divInputs{
        width: auto;
       margin-top: 19px;
    }




/*BOTON SARRISIMO*/

.btnBuscar{
    border: none;
    background-color: #26798E;
    border-radius: 0.2em;
    color: rgb(20, 20, 20);
    font-size: 15px;
    font-weight: bolder;
    height: 35px;
    margin-right: 1em;

}

.btnBuscar:hover{
    cursor: pointer;
    background-color: #FFC172;
    transition: all 0.35s;


}